.footer {
  background-color:black; /* Light wood color */
  border-top: 5px solid #b88655;
}

.footer-links li {
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.btn-brown {
  background-color: #b88655;
  color: white;
  border: none;
}

.btn-brown:hover {
  background-color: #99673d;
}

.footer-social a {
  font-size: 22px;
  margin-right: 15px;
  color: #5a3e2b;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #000;
}
